# Core packages
streamlit
langchain
langchain-community
langchainhub
chromadb>=0.4.22
huggingface-hub
sentence-transformers
python-dotenv
groq  
tqdm
langchain-huggingface
langchain-groq
faiss-cpu
